.leadersWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: calc(100vh - 154px);
    min-height: calc(100vh - 154px);
    overflow-y: auto;
    margin-bottom: 8px;
    padding: 0 8px;
    border-radius: 16px;
}
.leadersBlock {
    border-radius: 16px;
    background: rgba(160, 174, 255, 0.16);
    padding: 8px;
    gap: 8px;
}

.incomeCityTitle {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.incomeCityTitle img {
    width: 24px;
}

.leadersBlockHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.leadersBlockHeader > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    gap: 8px;
}
.leadersBlockHeader > div:nth-of-type(2) img {
    width: 20px;
}

.incomeCitySubtitle {
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.60);
    border-radius: 8px;
    background: rgba(160, 174, 255, 0.08);
}
.incomeCityItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    background: rgba(160, 174, 255, 0.16);
}
.incomeCityItem div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.incomeCityItem div:last-of-type {
    font-weight: 700;
}

.leadersInput {
    display: flex;
    padding: 13px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid rgba(160, 174, 255, 0.16);
    margin-bottom: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.leadersInput div {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.88);
    text-overflow: ellipsis;
}

.leadersInput img {
    cursor: pointer;
}

.bonusBlock {
    border-radius: 8px;
    background: rgba(160, 174, 255, 0.16);
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 13px 16px;
    gap: 16px;
    font-weight: 700;
}
.bonusBlock:last-of-type {
    margin-bottom: 0;
}
.bonusBlock div:last-of-type {
    height: 20px;
    width: 20px;
}
.bonusBlock div:last-of-type img {
    max-width: 100%;
    max-height: 100%;
}
.bonusBlock_completed {
    background: rgba(23, 196, 103, 0.16);
}
.bonusBlock_completed div:last-of-type {
    border-radius: 50%;
    background: #17C467;
}

.tableHeader {
    display: grid;
    grid-template-columns: 40px auto auto;
    grid-gap: 8px;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);

    border-radius: 8px;
    background: rgba(160, 174, 255, 0.08);
    padding: 8px 12px;

    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
}
.tableHeader div:last-of-type {
    text-align: right;
}

.blockWrapper {
    padding-bottom: 0;
}