.mainContainer {
    max-height: calc(100vh - 154px);
    min-height: calc(100vh - 154px);
    overflow-y: auto;
    margin-bottom: 8px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    user-select: none;
}
.mainContainer-turbo-timer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}
.mainContainer-turbo-timer span {
    font-size: 20px;
}
.mainContainer-turbo-timer span::after {
    content: 'sec';
    font-size: 12px;
}

.mainContainerBg::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
}
.mainContainerBg img {
    max-width: 90%;
    max-height: 100%;
    transition: width 300ms;
}
.mainContainerBg .coinWrapper {
    position: absolute;
    cursor: pointer;
    height: 120px;
    background-image: url('../../assets/images/coin-miner.png');
    background-repeat: no-repeat;

    width: 120px;
    border-radius: 50%;
    bottom: 180px;
    z-index: 1;
}
.mainContainerBg .coinWrapper.anim1 {
    animation: anim1 1s ease-in 0s 1 reverse forwards;
}
.mainContainerBg .coinWrapper.anim2 {
    animation: anim2 1s ease-in 0s 1 reverse forwards;
}
.mainContainerBg .coinWrapper.anim3 {
    animation: anim3 1s ease-in 0s 1 reverse forwards;
}

.mainContainerBg .fake-scroll {
    top: 0;
    height: calc(100% + 1px);
    width: 1px;
}

.balanceTaps {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    background: rgba(160, 174, 255, 0.16);
    padding: 8px 12px;
    font-weight: 700;
    width: fit-content;
}

@keyframes anim1 {
    0% {
        opacity: 0;
        transform: translateY(-250px) scale(.5);
        right: 30px;
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(-60deg);
        right: 30px;
    }
}

@keyframes anim2 {
    0% {
        opacity: 0;
        transform: translateY(-250px) scale(.5);
        right: 60px;
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(-60deg);
        right: 60px;
    }
}

@keyframes anim3 {
    0% {
        opacity: 0;
        transform: translateY(-250px) scale(.5);
        right: 45px;
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(-60deg);
        right: 45px;
    }
}