.mainContainer {
    max-height: calc(100vh - 154px);
    min-height: calc(100vh - 154px);
    overflow-y: auto;
    margin-bottom: 8px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.mainContainer-turbo-timer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}
.mainContainer-turbo-timer span {
    font-size: 20px;
}
.mainContainer-turbo-timer span::after {
    content: 'sec';
    font-size: 12px;
}

.mainContainerBg::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
}
.mainContainerBg img {
    max-width: 90%;
    max-height: 100%;
    transition: width 300ms;
}
.mainContainerBg .coinWrapper {
    position: absolute;
    cursor: pointer;
    height: 120px;
    background-image: url('../../assets/images/coin-miner.png');
    background-repeat: no-repeat;

    width: 120px;
    border-radius: 50%;
    top: 35%;
    left: 33%;
    z-index: 1;
}
.mainContainerBg .coinWrapper.anim1 {
    animation:
    spin 1s infinite,
        move1 1.5s infinite,
        fadeOutUp 1.5s forwards;
}
.mainContainerBg .coinWrapper.anim2 {
    animation:
    spin 1s infinite,
        move2 1.5s infinite,
        fadeOutUp 1.5s forwards;
}
.mainContainerBg .coinWrapper.anim3 {
    animation:
    spin 1s infinite,
        move3 1.5s infinite,
        fadeOutUp 1.5s forwards;
}

.mainContainerBg .fake-scroll {
    top: 0;
    height: calc(100% + 1px);
    width: 1px;
}

.balanceTaps {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    background: rgba(160, 174, 255, 0.16);
    padding: 8px 12px;
    font-weight: 700;
    width: fit-content;
}

@keyframes spin {
    100% {
        transform: rotate(30deg);
    }
}

@keyframes sprite {
    100% {
        background-position: 0;
    }
}
@keyframes move1 {
    25% {
        left: 33%;
    }
    75% {
        left: 26%;
    }
    100% {
        top: 1%;
        left: 30%;
    }
}
@keyframes move2 {
    25% {
        left: 26%;
    }
    75% {
        left: 33%;
    }
    100% {
        top: 1%;
        left: 30%;
    }
}
@keyframes move3 {
    45% {
        left: 26%;
    }
    85% {
        left: 33%;
    }
    100% {
        top: 1%;
        left: 30%;
    }
}
@keyframes fadeOutUp {
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
